@font-face
  font-family "Open Sans"
  src url(../fonts/OpenSans-Light-webfont.eot)
  src url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Light-webfont.woff) format('woff'), url(../fonts/OpenSans-Light-webfont.ttf)format('truetype'), url(..fonts/OpenSans-Semibold-webfont.svg#open_sanslight) format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family "Open Sans"
  src url(../fonts/OpenSans-LightItalic-webfont.eot)
  src url(../fonts/OpenSans-LightItalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-LightItalic-webfont.woff) format('woff'), url(../fonts/OpenSans-LightItalic-webfont.ttf)format('truetype'), url(..fonts/OpenSans-LightItalic-webfont.svg#open_sanslightitalic) format('svg')
  font-weight normal
  font-style italic

@font-face
  font-family "Open Sans"
  src url(../fonts/OpenSans-Semibold-webfont.eot)
  src url(../fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(../fonts/OpenSans-Semibold-webfont.ttf)format('truetype'), url(..fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold) format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family "Open Sans"
  src url(../fonts/OpenSans-SemiboldItalic-webfont.eot)
  src url(../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-SemiboldItalic-webfont.woff) format('woff'), url(../fonts/OpenSans-SemiboldItalic-webfont.ttf)format('truetype'), url(..fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibolditalic) format('svg')
  font-weight bold
  font-style italic