@import colours
@import "fonts.css"

body
  background-color $background
  padding 0
  margin 0
  font 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif
  color $text
a
  color: $foreground

header
  display block
  background-color $foreground
  
  h1
    font-size 28px
    font-weight bold
    color #FFFFFF
    line-height 48px
    padding 0 4%
    vertical-align middle

    small
      font-size 14px
      
    @media screen and (min-width: 401px)
      font-size 32px
      padding 0 2%

      small
        font-size 16px

h1
  color $foreground

h2
  color $foreground
  
h3
  color $accent

hr
  border none
  border-bottom 1px solid $accent
  padding 0
  margin 10px 0

h1 + hr, h2 + hr, h3 + hr, h4 + hr
  margin -18px 0 8px 0

h1, article, footer
  display block
  padding 10px 4%
  margin 0 auto
  max-width 560px
 
  ol, ul
    padding 0
    margin 10px 0 0 0
    display block
    list-style none
    
  ol.key-value, ul.key-value
    li
      display inline-block
      width 33%
    
      span
        text-align center

      span.key
        font-size 10px
        font-weight bold
        display block
        
        @media screen and (min-width: 401px)
          font-size 14px
      
      span.value
        display: block
        font-size 18px
        
        @media screen and (min-width: 401px)
          font-size 24px
          font-weight bold

  .key-value.uptime
    li
      width: 25%

  .key-value.network-activity
    li
      width: 50%

  p
    line-height 150%

  @media screen and (min-width: 401px)
    padding 10px 2%

  table
    width 100%

    td
      background-color $accentd
      padding 8px 2%
          
    td.computer, td.name
      width 80%
    
    td.status
      width 20%
      text-align center
      transition background-color 5s

    tr.on td.status
      background-color $on

    tr.off td.status
      background-color $off

    tr.refresh td.status
      transition background-color 200ms

    tr.on.refresh td.status
      background-color $onRefresh

    tr.off.refresh td.status
      background-color $offRefresh

    thead
      td
        font-weight bold
        background-color $accenti

div.chart
  background-color $accentd
  border 0px solid $accentd
  min-height 100px
  margin 10px auto
  padding 3px
  transition border-width 0s linear .5s, border-color .5s linear, padding 0s linear .5s
  
div.chart.loading
  background $accentd url(/assets/images/horizontalLoader.png) no-repeat center center
  border 3px dashed $accenti
  border-radius 4px
  padding 0px
  
footer
  background-color $accentd
  text-align right
  font-style italic