@import "fonts.css";
body {
  background-color: #1e1e20;
  padding: 0;
  margin: 0;
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffefdd;
}
a {
  color: #dc3522;
}
header {
  display: block;
  background-color: #dc3522;
}
header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  line-height: 48px;
  padding: 0 4%;
  vertical-align: middle;
}
header h1 small {
  font-size: 14px;
}
@media screen and (min-width: 401px) {
  header h1 {
    font-size: 32px;
    padding: 0 2%;
  }
  header h1 small {
    font-size: 16px;
  }
}
h1 {
  color: #dc3522;
}
h2 {
  color: #dc3522;
}
h3 {
  color: #d98555;
}
hr {
  border: none;
  border-bottom: 1px solid #d98555;
  padding: 0;
  margin: 10px 0;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr {
  margin: -18px 0 8px 0;
}
h1,
article,
footer {
  display: block;
  padding: 10px 4%;
  margin: 0 auto;
  max-width: 560px;
}
h1 ol,
article ol,
footer ol,
h1 ul,
article ul,
footer ul {
  padding: 0;
  margin: 10px 0 0 0;
  display: block;
  list-style: none;
}
h1 ol.key-value li,
article ol.key-value li,
footer ol.key-value li,
h1 ul.key-value li,
article ul.key-value li,
footer ul.key-value li {
  display: inline-block;
  width: 33%;
}
h1 ol.key-value li span,
article ol.key-value li span,
footer ol.key-value li span,
h1 ul.key-value li span,
article ul.key-value li span,
footer ul.key-value li span {
  text-align: center;
}
h1 ol.key-value li span.key,
article ol.key-value li span.key,
footer ol.key-value li span.key,
h1 ul.key-value li span.key,
article ul.key-value li span.key,
footer ul.key-value li span.key {
  font-size: 10px;
  font-weight: bold;
  display: block;
}
@media screen and (min-width: 401px) {
  h1 ol.key-value li span.key,
  article ol.key-value li span.key,
  footer ol.key-value li span.key,
  h1 ul.key-value li span.key,
  article ul.key-value li span.key,
  footer ul.key-value li span.key {
    font-size: 14px;
  }
}
h1 ol.key-value li span.value,
article ol.key-value li span.value,
footer ol.key-value li span.value,
h1 ul.key-value li span.value,
article ul.key-value li span.value,
footer ul.key-value li span.value {
  display: block;
  font-size: 18px;
}
@media screen and (min-width: 401px) {
  h1 ol.key-value li span.value,
  article ol.key-value li span.value,
  footer ol.key-value li span.value,
  h1 ul.key-value li span.value,
  article ul.key-value li span.value,
  footer ul.key-value li span.value {
    font-size: 24px;
    font-weight: bold;
  }
}
h1 .key-value.uptime li,
article .key-value.uptime li,
footer .key-value.uptime li {
  width: 25%;
}
h1 .key-value.network-activity li,
article .key-value.network-activity li,
footer .key-value.network-activity li {
  width: 50%;
}
h1 p,
article p,
footer p {
  line-height: 150%;
}
@media screen and (min-width: 401px) {
  h1,
  article,
  footer {
    padding: 10px 2%;
  }
}
h1 table,
article table,
footer table {
  width: 100%;
}
h1 table td,
article table td,
footer table td {
  background-color: #2a2c2b;
  padding: 8px 2%;
}
h1 table td.computer,
article table td.computer,
footer table td.computer,
h1 table td.name,
article table td.name,
footer table td.name {
  width: 80%;
}
h1 table td.status,
article table td.status,
footer table td.status {
  width: 20%;
  text-align: center;
  transition: background-color 5s;
}
h1 table tr.on td.status,
article table tr.on td.status,
footer table tr.on td.status {
  background-color: #283b18;
}
h1 table tr.off td.status,
article table tr.off td.status,
footer table tr.off td.status {
  background-color: #400a13;
}
h1 table tr.refresh td.status,
article table tr.refresh td.status,
footer table tr.refresh td.status {
  transition: background-color 200ms;
}
h1 table tr.on.refresh td.status,
article table tr.on.refresh td.status,
footer table tr.on.refresh td.status {
  background-color: #47692b;
}
h1 table tr.off.refresh td.status,
article table tr.off.refresh td.status,
footer table tr.off.refresh td.status {
  background-color: #69101f;
}
h1 table thead td,
article table thead td,
footer table thead td {
  font-weight: bold;
  background-color: #374140;
}
div.chart {
  background-color: #2a2c2b;
  border: 0px solid #2a2c2b;
  min-height: 100px;
  margin: 10px auto;
  padding: 3px;
  transition: border-width 0s linear 0.5s, border-color 0.5s linear, padding 0s linear 0.5s;
}
div.chart.loading {
  background: #2a2c2b url("/assets/images/horizontalLoader.png") no-repeat center center;
  border: 3px dashed #374140;
  border-radius: 4px;
  padding: 0px;
}
footer {
  background-color: #2a2c2b;
  text-align: right;
  font-style: italic;
}
