doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    meta(name='viewport', content='width=320,user-scalable=no')
    
  body
    block content

    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='//code.highcharts.com/highcharts.js')
    script(src='//code.jquery.com/jquery-2.1.1.min.js')