extends ../views/layout
block content
  header.title
    h1
      | RPi 
      small (Nginx/Node.js server, HiFi source)

  article.intro
    p
      | This is Kashi's Raspberry Pi HiFi experiment. This Pi is running a specialised build of  
      a(href="http://volumio.org/",title="Check out the Volumio project homepage",target="_blank") Volumio
      |  which has been modified to run a 
      a(href="http://nodejs.org/",title="Check out the Node.JS homepage",target="_blank") Node.js
      |  web application supported by 
      a(href="http://nginx.org/",title="Check out the NginX homepage",target="_blank") Nginx
      |  for static file serving.
      
  article.server
    h2 Server
    hr
    p
      | Some basic information about the current state of this Raspberry Pi machine.

    section.cpu
      h3 CPU
      p
        | This instance of Node.js is being run on a 
        strong
          span#cpuSpeed
          small MHz
        em.cpuType
        | .
      h4 Total CPU Usage
      p
        | The CPU is currently under 
        span#cpuLoad --
        | % load.
      div#cpuLoad.chart.loading
      
      h4 Load averages
      ol.load-averages.key-value
        li.1-minute-sample
          span.key 1 minute
          span.value --
        li.5-minute-sample
          span.key 5 minutes
          span.value --
        li.15-minute-sample
          span.key 15 minutes
          span.value --
      div#loadAveragesChart.chart.loading

    section.uptime
      h3 Server uptime
      p
        |This server has been continually running for:
        ol.uptime.key-value
          li.days
            span.key Days
            span.value --
          li.hours
            span.key Hours
            span.value --
          li.minutes
            span.key Minutes
            span.value --
          li.seconds
            span.key Seconds
            span.value --

    section.memory
      h3 Memory usage
      ul.memory-usage.key-value
        li.total
          span.key Total
          span.value --
            small MB
        li.used
          span.key In use
          span.value --
            small MB
        li.free
          span.key Free
          span.value --
            small MB
      div#memoryChart.chart.loading

  article.network
    h2 Network
    hr

    section.computers
      h3 Computers
      p
        | Displays the status of other computers on the LAN. Please 
        a(href="/login") log in
        | if you wish to perform any wake commands.

      table
        thead
          tr
            td.computer Computer
            td.status Status
        tbody
          tr(data-ip-tail=51)
            td.computer XMBCRPi
            td.status -
          tr(data-ip-tail=71)
            td.computer MediaPC
            td.status -
          tr(data-ip-tail=120)
            td.computer KashmaNiaCsAMD
            td.status -

    section.activity
      h3 Activity
      p
        | The current upload throughput is 
        span#upload --
        small KB/s
        |  and download throughput 
        span#download --
        small KB/s
        | .

      ul.network-activity.key-value
        li.upload
          span.key Upload
          span.value --
            small KB/s
        li.download
          span.key Download
          span.value --
            small KB/s
      div#networkActivityChart.chart.loading
  
  article.services
    h2 Services
    hr
    section.global
      h3 Global
      p
        | Lists the services that this server exposes and runs regular checks to
        |  see that the service is still active.
        section.services.global
          table
            thead
              tr
                td.name Name
                td.status Status
            tbody
              tr
                td.name Nginx (www)
                td.status --
              tr
                td.name Nginx (Volumio proxy)
                td.status --
              tr
                td.name Nginx (socket.io proxy)
                td.status --

    section.local
      h3 Local
      p
        | Lists the services that this server uses locally and runs regular
        |  checks to see that the service is still active.
        section.services.local
          table
            thead
              tr
                td.name Name
                td.status Status
            tbody
              tr
                td.name MPD
                td.status --
              tr
                td.name TrueCrypt
                td.status --
      


  footer
    small.footnote
      | Served with a Raspberry Pi Model B.